body {
    background: whitesmoke;
    color: black;
    box-shadow: 0 2px 4px gray;
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;
}

header {
    background: white;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

input,
button {
    padding: 10px;
    margin: 10px 5px;
    border-radius: 4px;
    border: 1px solid;
}

input[type='file'] {
    border: none;
}

button {
    background: dodgerblue;
    color: white;
    cursor: pointer;
}

button:hover {
    background: steelblue;
}

p {
    background: aliceblue;
    border-left: 4px solid dodgerblue;
    padding: 10px;
    border-radius: 4px;
    font-size: small;
}